.page {
	--background: #121212;
	--foreground: #121212;

	--text-primary: #000;
	--text-secondary: #666;

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;
	--button-secondary-border: #ebebeb;

	width: 100vw;
	height: 100vh;
}

.page main {
	display: flex;
	flex-direction: column;

	align-items: center;
	height: calc(100vh - 5rem);
    overflow-y: auto;
}

.page main::-webkit-scrollbar {
    width: 0.5rem;
}

.page main::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 0.25rem;
}

.page main h1 {
	font-size: 3rem;
	margin: 3rem 0;
	text-align: center;
}

.page main a {
	color: #007fff;
}

.page main a:hover {
	text-decoration: underline;
}

.page main section {
	width: min(90%, 50rem);
	margin: 1rem auto;
	padding: 1rem;
	border: 0.15rem solid #888;
	border-radius: 1rem;

	background-color: #121212;


	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	transition-duration: var(--default-transition-duration);
}

.page main section:hover {
	border-color: #8888ff;
	background-color: #242424;
}

.page main section h2 {
	width: 90%;
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 0.1rem solid #484848;
}

.bio ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bio li {
	font-size: 1.1rem;
	padding: 0.4rem 0;
	list-style-type: none;
}

.bio li p {
	text-align: center;
}

.professionalContacts table, .socialMediaLinks table {
	width: 100%;
	border-collapse: collapse;
}

.professionalContacts td, .socialMediaLinks td {
	padding: 0.5rem;
	text-align: left;

	border: 0.1rem solid #363636;
}

.mobileContacts {
	list-style-type: none;
}

.mobileContacts li {
	font-size: 1.1rem;
	padding: 0.3rem 0;
	text-align: center;
}

.mobileContacts li a {
	text-decoration: underline;
}

@media (max-width: 767px) {
	.page main {
		height: calc(100vh - 11rem);
	}

	.page main::-webkit-scrollbar {
		width: 0;
	}
}