.blogContent {
    width: min(90%, 60rem);
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .blogContent {
        width: 100%;
        padding: 2rem;
    }
}

.imageWithCaption, .videoWithCaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;

    /* border: 0.2rem solid #242424;
    border-radius: 1rem; */
}

.imageWithCaption img, .videoWithCaption video {
    max-width: 80%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
}

.imageWithCaption .caption, .videoWithCaption .caption {
    margin-top: 1rem;
    color: #ccc;
    text-align: center;
}

.collapsibleImageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.blogContent section {
    margin: 2rem 0;
    border-bottom: 0.1rem solid #444;
}

.blogContent p {
    text-indent: 1rem;
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.blogContent a {
    color: #8888ff;
    text-decoration: none;
    transition-duration: var(--default-transition-duration);
}

.blogContent a:hover {
    text-decoration: underline;
}

.blogContent ul {
    list-style-type: disc;
    margin-left: 3rem;
    font-size: 1.2rem;
}