.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 30vh;
    height: 100vh;
}

.page ul {
    font-size: 1.7rem;
    list-style-type: none;
    margin: 1rem 0;
}

.drumAndChartContainer {
    position: relative;
    width: 82rem;
}

.drumContainer {
    width: 16rem;
    height: 16rem;
    border-radius: 16rem;
    display: flex;

    position: absolute;
    z-index: 10;
}

.left, .right {
    position: relative;
}

.left *, .right * {
    border: 1px solid #d6d6c6;
}

.drumContainer .rim {
    background-color: #f5f5dc;
    width: 8rem;
    height: 16rem;
}

.drumContainer .face {
    position: absolute;
    width: 6rem;
    height: 12rem;
}

.left .rim {
    border-radius: 8rem 0 0 8rem;
}

.left .face {
    top: 2rem;
    left: 2rem;
    border-radius: 8rem 0 0 8rem;
    z-index: 2;
    pointer-events: auto;
}

.right .rim {
    border-radius: 0 8rem 8rem 0;
}

.right .face {
    top: 2rem;
    left: 0;
    border-radius: 0 8rem 8rem 0;
}

.drumContainer .rim:hover, .drumContainer .rim.active {
    background-color: #00aaff;
}

.rim:hover + .face, .rim.active + .face {
    background-color: #f5f5dc;
}

.drumContainer .face:hover, .drumContainer .face.active {
    background-color: #ff2424;
}

.noteLane {
    width: 80rem;
    height: 12rem;
    border: 0.1rem solid #58584b;
    border-radius: 6rem 0 0 6rem;

    position: absolute;
    top: 2rem;
    left: 2rem;

    z-index: 1;
}

.rightSideChartHider {
    position: absolute;
    top: 2rem;
    left: 82rem;
    width: 20rem;
    height: 12rem;
    background-color: var(--background);
    z-index: 10;
}

.hitArea {
    position: absolute;
    top: 2rem;
    right: 20rem;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hitArea .line {
    width: 0.2rem;
    height: 3rem;
    background-color: #58584b;
    z-index: 2;
}

.hitArea .circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.2rem solid #58584b;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hitArea .circleInner {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 5;
    /* transition-duration: 0.05s; */
}

.hitArea.active.rim .line, .hitArea.active.rim .circle {
    border-color: #00aaff;
}

.hitArea.active.face .line, .hitArea.active.face .circle {
    border-color: #ff2424;
}

.note {
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    z-index: 3;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.note.don {
    background-color: #ff2424;
}

.note.ka {
    background-color: #00aaff;
}

.note.bigDon {
    top: 1rem;
    background-color: #ff2424;
    width: 10rem;
    height: 10rem;
}

.note.bigKa {
    top: 1rem;
    background-color: #00aaff;
    width: 10rem;
    height: 10rem;
}

.bar {
    position: absolute;
    top: 0;
    width: 0.1rem;
    height: 12rem;
    background-color: #58584b;
}

.page button {
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
}

.page button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.logsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 40rem;
    padding: 1rem 0;
    background-color: #242424;
}

.logs {
    width: 100%;
    height: 100%;

    overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #242424;
    padding-left: 1rem;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.logs p {
    margin: 0.5rem 0.2rem;
    font-family: monospace;
    width: 100%;
}

.logs::-webkit-scrollbar {
    width: 0.25rem;
}

.logs::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
}

.combo {
    font-size: 8rem;
    position: absolute;
    width: 10rem;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 15;
    top: 3rem;
    left: 3rem;
    background-color: #00000040;
    border-radius: 5rem;
    box-shadow: 0 0 3rem #00000080; 
}

.accuracy {
    font-size: 3rem;
    position: absolute;
    width: 8rem;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 15;
    top: -8rem;
    left: 17rem;
    background-color: #242424;
    border-radius: 5rem;
    box-shadow: 0 0 5rem #484848;

    font-family: monospace;
}

.points {
    font-size: 3rem;
    position: absolute;
    width: 16rem;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 15;
    top: 16rem;
    left: 13rem;
    background-color: #242424;
    border-radius: 5rem;
    box-shadow: 0 0 5rem #484848;

    font-family: monospace;
}